
table, th, td {
	border: 1px solid black;
	padding: 10px;
}

.p {color: Crimson;}

.e {color: Coral;}

.n1 {color: Gold;}

.g {color: Green;}

.u {color: MediumBlue;}

.i {color: MediumOrchid;}

.n2 {color: HotPink;}
